      <div class="control-group">
        <label for="username" class="control-label">username</label>
        <div class="controls">
          <%- contentTag('input', user.username, {type:'text', class:'span6', name:'username'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="password" class="control-label">password</label>
        <div class="controls">
          <%- contentTag('input', user.password, {type:'password', class:'span6', name:'password'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="confirmPassword" class="control-label">confirmPassword</label>
        <div class="controls">
          <%- contentTag('input', user.confirmPassword, {type:'password', class:'span6', name:'confirmPassword'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="familyName" class="control-label">familyName</label>
        <div class="controls">
          <%- contentTag('input', user.familyName, {type:'text', class:'span6', name:'familyName'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="givenName" class="control-label">givenName</label>
        <div class="controls">
          <%- contentTag('input', user.givenName, {type:'text', class:'span6', name:'givenName'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="email" class="control-label">email</label>
        <div class="controls">
          <%- contentTag('input', user.email, {type:'text', class:'span6', name:'email'}) %>
        </div>
      </div>

      <div class="control-group">
        <label for="disqus" class="control-label">disqus</label>
        <div class="controls">
<% if (typeof user.disqus_secret == 'undefined' || user.disqus_secret == '') { %>
          <%- linkTo('Connect to Disqus »', '/oauth/disqus', {class: 'btn btn-primary'}) %>
<% } else { %>
          <p>Authed</p>
<% } %>
        </div>
      </div>

      <div class="control-group">
        <label for="amazon" class="control-label">amazon</label>
        <div class="controls">
          <p><a href="/oauth/aws"><img border="0" alt="Login with Amazon"
                src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                width="156" height="32" /></a></p>
        </div>
      </div>

